/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********General Code ***********/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: cornflowerblue;
}

header {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  width: 20%;
  margin: 0 auto;
}

header:hover {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(226, 218, 218, 0.7);
          box-shadow: 0px 0px 0px 3px rgba(226, 218, 218, 0.7);
  width: 20%;
  margin: 0 auto;
  color: crimson;
  -webkit-transform: scale(1.5) rotate(1turn);
          transform: scale(1.5) rotate(1turn);
  background-color: white;
}

header h1 {
  margin-top: 4rem;
}

.grid-section {
  max-width: 1880px;
  display: -ms-grid;
  display: grid;
  border: 4px solid;
  gap: 20px;
  width: 50%;
  margin: 14rem auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.grid-section:hover .box-one {
  border-radius: 50%;
  position: relative;
  -webkit-transition: all;
  transition: all;
  -webkit-animation: box-one-animation  linear 2 alternate 1s forwards;
          animation: box-one-animation  linear 2 alternate 1s forwards;
}

.grid-section .box-one {
  background-color: yellow;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
}

.grid-section .box-two {
  background-color: #b15050;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 1rem;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.grid-section .box-two img {
  width: 100%;
}

.grid-section .box-two:hover img {
  -webkit-transform: perspective(200px) scaleZ(5) translateZ(30px) rotate(20deg);
          transform: perspective(200px) scaleZ(5) translateZ(30px) rotate(20deg);
}

@-webkit-keyframes box-one-animation {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

@keyframes box-one-animation {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
/*# sourceMappingURL=style.css.map */